/** STYLES FOR THE MAIN PAGE */

@import url('https://fonts.googleapis.com/css?family=Gugi');

body, html
{
  height: 100%;
  margin: 0;
}
.backdrop
{
  background-image: url("../img/grey-skyline.jpg");
  height: 100%;
  background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-size:  cover;
	background-color: #999;
}

.main-text
{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height:45%;
  bottom: 0;
  display: block;
  position: absolute;
  background-color: rgba(0,0,0,0.6);
  color: #fff;
  padding: 0.5em;
}

#splash-text
{
  align-items: left;
  justify-content: left;
  color: white;
  font-weight: bold;
  margin: 5%;
  text-align: left;
  font-size: 50px;
  opacity: 1;
  font-family: 'Gugi', cursive;
}



#bounceBug
{
  margin: auto;
  align-items: center;
  justify-content: center;
  padding-left: 50px;
  padding-top: 50px;
  position: relative;
  left: 200px;
  height: 50%;
  width: 50%;

}
